body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://www.itl.cat/pngfile/big/196-1961254_galaxy-wallpapers-for-ipad-group-pastel-pink-galaxy.jpg);
    text-align: center
}

header{
    color: white;
    width: 100%;
    text-align: center;    
    font-size: 100px;
}

footer {
    color: rgb(109, 19, 75);
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 12px;
}

table, th, td {
    border: 2px solid black;
    padding: 12px;
}

table {
    font-weight: 100;
    border-collapse: collapse;
    text-align: left;
}

th {
    color: black;
    background-color: plum;
}

tr {
    color: black;
    background-color: pink;
}

div {
    position: relative;
}

ol {
    padding-left: 45%;
    padding-right: 45%;
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
}

.super-lot {
    background-color: plum;
    width: 200px;
    z-index: 1;
    position: absolute;
    top : 35%;
    left: 42%;
}

.miasto {
    background-color: lightpink;
    padding: 12px;
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

.samolot {
    font-weight: bold;
}

.obrazek, .obrazek-miasta {
    display: block;
    width: 30%;
    left: 35%;
    position: relative;
}


.menu-list {
    list-style: none;
    padding-left: 24px;
    text-align: left;
    font-family: "Andale Mono", serif;
    text-transform: uppercase;
}

.little-delayed {
    background-color: rgb(239, 237, 124);
}

.delayed {
    background-color: rgb(239, 170, 83);
}

.cancelled {
    background-color: rgba(255, 0, 24, 0.51);
}

.flex-page {
    display: flex;
    padding: 12px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media screen and (max-width: 450px) {
    .flex-page {
        display: flex;
        padding: 12px;
        flex-direction: column;
    }

    .pogoda {
        display: none;
    }

    .obrazek-miasta {
        display: none;
    }
}

@media screen and (min-width: 450px) and (max-width: 1600px) {
    .flex-page>section {
        flex: 1 0 30%;
    }

    .flex-page>section:first-child {
        flex: 0 1 100%;
    }

}

.pasazer:nth-child(odd) {
    background-color: lightpink;
}

.popup{
    background-color: hotpink;
    width: 300px;
    padding: 12px;
    position: absolute;
    left: 65%;
    bottom: -55%;

    visibility: hidden;
}


.pasazer:hover .popup{
    visibility: visible;
}




